<div class="qbox">
  <h3><i class="icon-search pull-right"></i>Pesquisa Rápida</h3>
  <form>
    <div>
      <label>Tipo de Propriedade</label>
      <select data-placeholder="-- Todos --" class="chzn-select" style="width:100%;" tabindex="0">
        <option value="Todos">Todos</option>
        <option value="Sitio">Sítio</option>
        <option value="Fazenda">Fazenda</option>
        <option value="Chácara">Chácara</option>
        <option value="Casa">Casa</option>
        <option value="Terreno">Terreno</option>
      </select>
    </div>
    <div>
      <label>Selecione a cidade</label>
      <select data-placeholder="-- Selecione a cidade --" class="chzn-select" style="width:100%;" tabindex="1">
        <option value="Todas">Todas</option>
        <option value="Ontario">Taquara</option>
        <option value="Quebec">Parobé</option>
        <option value="Nova Scotia">Igrejinha</option>
        <option value="New Brunswick">São Francisco de Paula</option>
        <option value="Manitoba">Santo Antônio</option>
        <option value="British Columbia">Porto Alegre</option>
        <option value="Prince Edward Island">Guaiba</option>
      </select>
    </div> 
    <div>
      <p>
        <input type="text" id="beds" readonly class="disabled">
      </p>

      <div id="ui-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
        <div class="ui-slider-range ui-widget-header"></div>
        <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
        <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
      </div>
    </div>
    <div>
      <p>
        <input type="text" id="amount" readonly class="disabled" style="margin-top:10px;">
      </p>

      <div id="ui-slider-price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
        <div class="ui-slider-range ui-widget-header"></div>
        <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
        <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
      </div>
    </div>
    <button class="btn btn-inverse btn-small">Pesquisar</button>
  </form>

  <%= search_form_for @search, url: properties_path do |f| %>
    <div class="field">
      <%= f.label :description_cont, "description contains" %>
      <%= f.text_field :description_cont %>
    </div>
    <div class="field">
      <%= f.label :bedrooms_eq, "Quartos:" %>
      <%= f.hidden_field :bedrooms_gteq %>
      <%= f.hidden_field :bedrooms_lteq %>
      <%= f.label :sell_price_eq, "Valor:" %>
      <%= f.hidden_field :sell_price_gteq %>
      <%= f.hidden_field :sell_price_lteq %>
      <%= f.label :bathrooms_eq, "Banheiros:" %>
      <%= f.text_field :bathrooms_eq %>
    </div>
    <div class="actions"><%= f.submit "Pesquisar", class: "btn btn-inverse btn-small" %></div>
  <% end %>

</div>

<div class="qbox">
                      <h3><i class="icon-search pull-right"></i>Quick Search</h3>
                <form>
                          <div>
                                <label>Property Type</label>
                                <select data-placeholder="-- For Sale --" class="chzn-select" style="width:100%;" tabindex="0">
                                    <option value="ForSale">For Sale</option>
                                    <option value="ForRent">For Rent</option>
                                    <option value="CommercialSale">Commercial For Sale</option>
                                    <option value="CommercialLease">Commercial For Lease</option>
                                </select>
                            </div>
                          <div>
                                <label>Select Province</label>
                                <select data-placeholder="-- Select Province --" class="chzn-select" style="width:100%;" tabindex="1">
                      <option value="Ontario">Ontario</option>
                      <option value="Quebec">Quebec</option>
                      <option value="Nova Scotia">Nova Scotia</option>
                      <option value="New Brunswick">New Brunswick</option>
                      <option value="Manitoba">Manitoba</option>
                      <option value="British Columbia">British Columbia</option>
                      <option value="Prince Edward Island">Prince Edward Island</option>
                      <option value="Saskatchewan">Saskatchewan</option>
                      <option value="Alberta">Alberta</option>
                      <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                </select>
                            </div>
                            <div>
                                <label>Select a suburb</label>
                                <select  data-placeholder="-- Available Cities --" multiple="multiple" class="chzn-select" style="width:100%;" tabindex="2">
                      <option value="Guelph">Guelph</option>
                      <option value="Haldimand">Haldimand</option>
                      <option value="Halton Hills">Halton Hills</option>
                      <option value="Hamilton">Hamilton</option>
                      <option value="Hawkesbury">Hawkesbury</option>
                      <option value="Huntsville">Huntsville</option>
                      <option value="Ingersoll">Ingersoll</option>
                      <option value="Innisfil">Innisfil (Alcona-Lefroy-Gilford)</option>
                      <option value="Kawartha">Kawartha Lakes (Lindsay)</option>
                      <option value="Kenora">Kenora</option>
                      <option value="Kingston">Kingston</option>
                      <option value="Kingsville">Kingsville</option>
                      <option value="Kitchener">Kitchener</option>
                      <option value="Lakeshore">Lakeshore (Belle River-Tilbury)</option>
                      <option value="LaSalle">LaSalle</option>
                      <option value="Leamington">Leamington</option>
                      <option value="Lincoln">Lincoln (Beamsville-Vineland)</option>
                      <option value="London">London</option>
                      <option value="Markham">Markham</option>
                      <option value="Midland">Midland</option>
                      <option value="Milton">Milton</option>
                      <option value="Mississauga">Mississauga</option>
                      <option value="Mississippi">Mississippi Mills (Almonte)</option>
                      <option value="Napanee">Napanee (Greater Napanee)</option>
                      <option value="Newmarket">Newmarket</option>
                      <option value="Tecumseth">New Tecumseth (Alliston)</option>
                      <option value="Niagara">Niagara Falls</option>
                      <option value="Niagara-lake">Niagara-on-the-Lake</option>
                      <option value="Norfolk">Norfolk (Simcoe-Port Dover)</option>
                      <option value="North-bay">North Bay</option>
                      <option value="Oakville">Oakville</option>
                      <option value="Orangeville">Orangeville</option>
                      <option value="Orillia">Orillia</option>
                      <option value="Oshawa">Oshawa</option>
                      <option value="Ottawa">Ottawa</option>
                      <option value="Owen">Owen Sound</option>
                      <option value="Pelham">Pelham</option>
                      <option value="Pembroke">Pembroke</option>
                      <option value="Petawawa">Petawawa</option>
                      <option value="Peterborough">Peterborough</option>
                      <option value="Pickering">Pickering</option>
                      <option value="Port-C">Port Colborne</option>
                      <option value="Port-H">Port Hope</option>
                      <option value="Prince">Prince Edward (Picton)</option>
                      <option value="Quinte">Quinte West (Trenton)</option>
                      <option value="Richmond">Richmond Hill</option>
                      <option value="Sarnia">Sarnia City</option>
                      <option value="Saugeen">Saugeen Shores</option>
                      <option value="Sault">Sault Ste. Marie</option>
                      <option value="Catharines">St. Catharines</option>
                      <option value="Thomas">St. Thomas</option>
                      <option value="Stratford">Stratford</option>
                      <option value="Tecumseh">Tecumseh</option>
                      <option value="Temiskaming">Temiskaming Shores</option>
                      <option value="Thorold">Thorold</option>
                      <option value="Thunder">Thunder Bay</option>
                      <option value="Tillsonburg">Tillsonburg</option>
                      <option value="Timmins">Timmins</option>
                      <option value="Toronto">Toronto</option>
                      <option value="Vaughan">Vaughan</option>
                      <option value="Wasaga">Wasaga Beach</option>
                      <option value="Waterloo">Waterloo</option>
                      <option value="Welland">Welland</option>
                      <option value="Whitby">Whitby</option>
                      <option value="Whitchurch">Whitchurch-Stouffville</option>
                      <option value="Windsor">Windsor</option>
                      <option value="Woodstock">Woodstock</option>
                                </select>
                            </div>  
                            <div>
                                <p>
                                    <input type="text" id="beds" readonly class="disabled">
                                </p>
  
                              <div id="ui-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                  <div class="ui-slider-range ui-widget-header"></div>
                                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
                                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
                                </div>
                            </div>
                            <div>
                                <p>
                                    <input type="text" id="amount" readonly class="disabled" style="margin-top:10px;">
                                </p>
                            
                              <div id="ui-slider-price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                  <div class="ui-slider-range ui-widget-header"></div>
                                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
                                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
                                </div>
                            </div>
                            <button class="btn btn-inverse btn-small">Search</button>
                        </form>
                    </div>