<%= simple_form_for [:admin, @property], :html => { :class => 'form-horizontal' } do |f| %>
<% if @property.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

  <ul>
    <% @property.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-align-justify"></i>                  
    </span>
    <h5>Endereço</h5>
  </div>
  <div class="widget-content nopadding">

    <%= f.input :address_name %>
    <%= f.input :address_number %>
    <%= f.input :address_complement %>
    <%= f.input :address_reference %>
    <%= f.association :district %>

  </div>  
</div>

<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-align-justify"></i>                  
    </span>
    <h5>Medidas</h5>
  </div>
  <div class="widget-content nopadding">

    <%= f.input :privative_area %>
    <%= f.input :constructed_area %>
    <%= f.input :total_area %>
    <%= f.input :terrain_area %>

  </div>  
</div>

<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-align-justify"></i>                  
    </span>
    <h5>Dados sobre o Imóvel</h5>
  </div>
  <div class="widget-content nopadding">

    <%= f.input :bedrooms, collection: 1..10, prompt: "Bedrooms" %>
    <%= f.input :suits, collection: 1..10, prompt: "Suits" %>
    <%= f.input :garages, collection: 1..10, prompt: "Garages" %>
    <%= f.input :furnished %>

    <%= f.input :construction_year %>

    <%= f.input :description %>

  </div>  
</div>

<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-align-justify"></i>                  
    </span>
    <h5>Dados Comerciais</h5>
  </div>
  <div class="widget-content nopadding">

    <%= f.input :sell_price %>

    <%= f.input :client_price %>

    <%= f.input :value %>
  </div>  
</div>

<div class="actions">
  <%= f.submit %>
</div>


<% end %>
<!--
t.integer  "privative_area"
t.integer  "constructed_area"
t.integer  "total_area"
t.integer  "terrain_area"
t.integer  "sell_price"
t.integer  "client_price"
t.integer  "bedrooms"
t.integer  "bathrooms"
t.integer  "suits"
t.integer  "construction_year"
t.integer  "garages"
t.boolean  "furnished"
-->
